@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-bitcoin: "Bitcount Prop Single Ink", system-ui;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --font-bitcoin: var() */
  /* font-family: "Bitcount Prop Single Ink", system-ui; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #004040;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-bitcoin);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 5s linear infinite;
}

.typewriter {
  width: 420px;
  color: #d1d5db;
  font-size: 6px;
  line-height: 1.6;
  overflow: hidden;
  /* border-right: 3px solid #00ffaa; */
  white-space: normal;
  animation:
    typing 4s steps(80, end),
    blink 0.8s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 420px;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
